.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-wraper{
  margin: 10% auto auto auto;
  width: 600px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex;
}

.flex-end{
  justify-content: end;
}

.m-b-20{
  margin-bottom: 20px;
}

.m-b-10{
  margin-bottom: 10px;
}

.pointer{
  cursor: pointer;
}

.p-20{
  padding:20px;
}

.p-10{
  padding:10px;
}

#alert{
  position: absolute;
  top: 10px;
  width: fit-content;
}

.confirm_delete{
  position: absolute;
    border: 1px solid #dee2e6;
    z-index: 999;
    width: max-content;
    background: #fff;
    border-radius: 5px;
}

.confirm_delete_container{
  position: relative;
  color: #282c34;
}

body{
  width: 100%;
  height: 100%;
  background-image: url('../public/images/background.jpg');
  background-repeat: repeat;
    background-size: contain;
}